/*================================================================================
| Colors
================================================================================*/
$color-body: #5f5649;

html, body{
	background: $color-body;
	background-image: url(body-background.png);
}